* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'poppins';
  scroll-behavior: smooth;
  scroll-margin-top: 20dvh;
}

@media screen and (max-width: 900px) {
  * {
    scroll-margin-top: 10dvh;
  }
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}